/*
* Mixins
*/
/*
* Libs
*/
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body {
  width: 100%; }

html {
  height: 100%; }

body {
  min-height: 100%; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.tipsy {
  letter-spacing: 0.1rem;
  position: absolute;
  z-index: 5000;
  border-radius: 3px;
  padding: 5px; }

.tipsy-inner {
  -moz-box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: rgba(0, 0, 0, 0.95);
  color: #FFF;
  max-width: 200px;
  text-align: center;
  padding: 6px 12px; }

.tipsy-arrow {
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  border: 5px dashed rgba(0, 0, 0, 0.95); }

.tipsy-arrow-n {
  border-bottom-color: rgba(0, 0, 0, 0.95); }

.tipsy-arrow-s {
  border-top-color: rgba(0, 0, 0, 0.95); }

.tipsy-arrow-e {
  border-left-color: rgba(0, 0, 0, 0.95); }

.tipsy-arrow-w {
  border-right-color: rgba(0, 0, 0, 0.95); }

.tipsy-n .tipsy-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-bottom-style: solid;
  border-top: none;
  border-left-color: transparent;
  border-right-color: transparent; }

.tipsy-nw .tipsy-arrow {
  top: 0;
  left: 10px;
  border-bottom-style: solid;
  border-top: none;
  border-left-color: transparent;
  border-right-color: transparent; }

.tipsy-ne .tipsy-arrow {
  top: 0;
  right: 10px;
  border-bottom-style: solid;
  border-top: none;
  border-left-color: transparent;
  border-right-color: transparent; }

.tipsy-s .tipsy-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top-style: solid;
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent; }

.tipsy-sw .tipsy-arrow {
  bottom: 0;
  left: 10px;
  border-top-style: solid;
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent; }

.tipsy-se .tipsy-arrow {
  bottom: 0;
  right: 10px;
  border-top-style: solid;
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent; }

.tipsy-e .tipsy-arrow {
  right: 0;
  top: 50%;
  margin-top: -5px;
  border-left-style: solid;
  border-right: none;
  border-top-color: transparent;
  border-bottom-color: transparent; }

.tipsy-w .tipsy-arrow {
  left: 0;
  top: 50%;
  margin-top: -5px;
  border-right-style: solid;
  border-left: none;
  border-top-color: transparent;
  border-bottom-color: transparent; }

/*
* Icons
*/
@font-face {
  font-family: 'clusterflunk-icons';
  src: url("../fonts/clusterflunk-icons/font/clusterflunk-icons.eot");
  src: url("../fonts/clusterflunk-icons/font/clusterflunk-icons.eot?#iefix") format("embedded-opentype"), url("../fonts/clusterflunk-icons/font/clusterflunk-icons.woff") format("woff"), url("../fonts/clusterflunk-icons/font/clusterflunk-icons.ttf") format("truetype"), url("../fonts/clusterflunk-icons/font/clusterflunk-icons.svg#clusterflunk-icons") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'clusterflunk-icons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-exit,
.icon-globe,
.icon-plus,
.icon-group-alt,
.icon-cog,
.icon-facebook,
.icon-twitter,
.icon-user,
.icon-comment,
.icon-file,
.icon-paper-clip,
.icon-heart,
.icon-comments,
.icon-download-alt,
.icon-remove,
.icon-arrow-right,
.icon-ok,
.icon-link,
.icon-facebook-sign,
.icon-remove-circle,
.icon-exclamation-sign,
.icon-tag,
.icon-pencil,
.icon-question-sign,
.icon-circle {
  font-family: 'clusterflunk-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.icon-exit:before {
  content: "\e000"; }

.icon-globe:before {
  content: "\f0ac"; }

.icon-plus:before {
  content: "\f067"; }

.icon-group-alt:before {
  content: "\e001"; }

.icon-cog:before {
  content: "\f013"; }

.icon-facebook:before {
  content: "\f09a"; }

.icon-twitter:before {
  content: "\f099"; }

.icon-user:before {
  content: "\f007"; }

.icon-comment:before {
  content: "\f075"; }

.icon-file:before {
  content: "\f15b"; }

.icon-paper-clip:before {
  content: "\f0c6"; }

.icon-heart:before {
  content: "\f004"; }

.icon-comments:before {
  content: "\f086"; }

.icon-download-alt:before {
  content: "\f019"; }

.icon-remove:before {
  content: "\f00d"; }

.icon-arrow-right:before {
  content: "\f061"; }

.icon-ok:before {
  content: "\f00c"; }

.icon-link:before {
  content: "\f0c1"; }

.icon-facebook-sign:before {
  content: "\f082"; }

.icon-remove-circle:before {
  content: "\f05c"; }

.icon-exclamation-sign:before {
  content: "\f06a"; }

.icon-tag:before {
  content: "\e600"; }

.icon-pencil:before {
  content: "\e601"; }

.icon-question-sign:before {
  content: "\e602"; }

.icon-circle:before {
  content: "\e603"; }

/*
* Base
*/
/*
* Vars
*/
html {
  font-size: 62.5%; }

body {
  color: #333333; }

body * {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.2rem; }

small {
  font-size: 1.1rem; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  color: #333333; }

h1 {
  font-size: 1.8rem; }

h2 {
  font-size: 1.6rem; }

h3 {
  font-size: 1.4rem; }

h4 {
  font-size: 1.2rem; }

h5 {
  font-size: 1.1rem; }

h6 {
  font-size: 1.0rem; }

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: #3e90ca; }
  a:hover {
    cursor: pointer; }

/*
* Layouts
*/
/*
* Layout: l-error
*/
body.l-error {
  background-color: #232322;
  padding-top: 50px; }

/*
* Base Partials
*/
/*
* Vars
*/
/*
* Partial: logo
*/
.logo {
  font-size: 22px;
    color: #ffffff;
  display: inline-block;
}

/*
* Vars
*/
@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 0 0; }

  to {
    background-position: 40px 0; } }

@keyframes progress-bar-stripes {
  from {
    background-position: 0 0; }

  to {
    background-position: 40px 0; } }

/*
* Partial: button
*/
.button, button, input[type="submit"] {
  background-image: -webkit-linear-gradient(top, #474747, #333333);
  background-image: -moz-linear-gradient(top, #474747, #333333);
  background-image: -o-linear-gradient(top, #474747, #333333);
  background-image: -ms-linear-gradient(top, #474747, #333333);
  background-image: linear-gradient(top, #474747, #333333);
  border: 1px solid #333333;
  border-radius: 3px;
  color: #fefefe;
  display: inline-block;
  opacity: 0.9;
  outline: none;
  padding: 10px;
  /*
  * Sub-classes
  */
  /*
  * Social Sub-classes
  */
  /*
  * Animation subclasses
  */ }
  .button:hover, button:hover, input[type="submit"]:hover {
    cursor: pointer;
    opacity: 1; }
  .button.button-success, button.button-success, input[type="submit"].button-success {
    background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
    background-image: -moz-linear-gradient(top, #4d90fe, #4787ed);
    background-image: -o-linear-gradient(top, #4d90fe, #4787ed);
    background-image: -ms-linear-gradient(top, #4d90fe, #4787ed);
    background-image: linear-gradient(top, #4d90fe, #4787ed);
    border-color: #4787ed; }
  .button.button.button-alert, button.button.button-alert, input[type="submit"].button.button-alert {
    background-image: -webkit-linear-gradient(top, #ef6c5e, #ef6c5e);
    background-image: -moz-linear-gradient(top, #ef6c5e, #ef6c5e);
    background-image: -o-linear-gradient(top, #ef6c5e, #ef6c5e);
    background-image: -ms-linear-gradient(top, #ef6c5e, #ef6c5e);
    background-image: linear-gradient(top, #ef6c5e, #ef6c5e);
    border-color: #ef6c5e; }
  .button.button-facebook i, .button.button-twitter i, button.button-facebook i, button.button-twitter i, input[type="submit"].button-facebook i, input[type="submit"].button-twitter i {
    font-size: 1.8rem;
    margin-right: 5px;
    vertical-align: middle; }
  .button.button-facebook, button.button-facebook, input[type="submit"].button-facebook {
    background-image: -webkit-linear-gradient(top, #4e69a2, #3b5998);
    background-image: -moz-linear-gradient(top, #4e69a2, #3b5998);
    background-image: -o-linear-gradient(top, #4e69a2, #3b5998);
    background-image: -ms-linear-gradient(top, #4e69a2, #3b5998);
    background-image: linear-gradient(top, #4e69a2, #3b5998);
    border-color: #3b5998; }
  .button.button-twitter, button.button-twitter, input[type="submit"].button-twitter {
    background-image: -webkit-linear-gradient(top, #74b8ea, #3385c0);
    background-image: -moz-linear-gradient(top, #74b8ea, #3385c0);
    background-image: -o-linear-gradient(top, #74b8ea, #3385c0);
    background-image: -ms-linear-gradient(top, #74b8ea, #3385c0);
    background-image: linear-gradient(top, #74b8ea, #3385c0);
    border-color: #3385c0; }
  .button.button-mini, button.button-mini, input[type="submit"].button-mini {
    padding: 5px; }
  .button.button-tiny, button.button-tiny, input[type="submit"].button-tiny {
    font-size: 1.1rem;
    padding: 3px; }
  .button.button-success.is-loading, button.button-success.is-loading, input[type="submit"].button-success.is-loading {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent), linear-gradient(#4d90fe, #4787ed);
    -webkit-animation: progress-bar-stripes 1s linear infinite;
    -moz-animation: progress-bar-stripes 1s linear infinite;
    -ms-animation: progress-bar-stripes 1s linear infinite;
    -o-animation: progress-bar-stripes 1s linear infinite;
    animation: progress-bar-stripes 1s linear infinite;
    background-position: 0 0;
    background-size: 40px 40px; }

/*
* Vars
*/
/*
* Partial: form
*/
form label {
  display: inline-block; }

/*
* Partial: input
*/
input[type="text"], input[type="password"] {
  border: 1px solid #eeeeee;
  color: #333333;
  padding: 10px;
  margin: 0; }
  input[type="text"]:focus, input[type="password"]:focus {
    outline: none; }

/*
* Partial: textarea
*/
textarea {
  border: 1px solid #eeeeee;
  color: #333333;
  padding: 10px;
  margin: 0;
  resize: none; }
  textarea:focus {
    outline: none; }

/*
* Placeholder text
*/
::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
  color: #666666; }

/*
* Partial: input-bordered
*/
.input-bordered, .input-bordered {
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  border: 2px solid #eeeeee;
  border-radius: 3px;
  font-weight: 500;
  font-size: 1.6rem; }
  .input-bordered:focus, .input-bordered:focus {
    border: 2px solid #9fc8e5; }

/*
* Partial: error
*/
.error {
  text-align: center; }
  .error h1, .error h3 {
    color: #FFF; }
  .error h1 {
    font-size: 5rem; }
  .error h3 {
    font-size: 2rem;
    line-height: 3.5rem; }
  .error img {
    margin: 60px 0;
    width: 400px; }
  .error ul li {
    color: #FFF;
    list-style-type: disc;
    margin-right: 20px;
    display: inline; }
    .error ul li a {
      font-size: 1.5rem; }
  .error ul li:first-child {
    list-style-type: none; }

/*
* Global
*/
.clearfix {
  clear: both; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
